In [1]:
import os
import pandas as pd

os.chdir('C:\\Users\\Jonas\\Desktop\\UChicago\\term_6\\AdvancedMachineLearning\\supreme_court_nlp')

In [2]:
def get_judge_baseline(year_lb, year_ub):
    """
    Compute the baseline accuracy by judge for a given range of years

    Inputs:
        - lb_year (int): Lower bound year
        - ub_year (int): Upper bound year

    Outputs:
        - baslines (pd.DataFrame): Baselines by judge
    """
    # Load the data
    ut = pd.read_csv(f'data/utterances_clean{year_lb}-{year_ub}.csv')

    # Count the number of cases vote by side
    vote_counts = ut.groupby(
        'case_id'
        ).first()[
        [
            col for col in ut.columns if col.startswith('votes_side_')
        ]
    ].apply(
        lambda vote: vote.value_counts(dropna=True)
    )
    display(vote_counts)

    # Compute the baseline
    baselines = pd.DataFrame(vote_counts.apply(
                lambda col: col.max() / col.sum(),
                axis=0
            ).dropna(),
            columns=['baseline']
    )

    baselines['baseline_side'] = vote_counts.apply(
        lambda col: col.idxmax(),
        axis=0
    ).dropna()
    
    return baselines[['baseline_side', 'baseline']]

In [3]:
def get_year_baseline(year_lb, year_ub):
    """
    Compute the baseline accuracy at the case level
    for a given range of years

    Inputs:
        - lb_year (int): Lower bound year
        - ub_year (int): Upper bound year

    Outputs:
        - win_side (int): win side of the baseline
        - baseline_side (pd.Series): Baseline
    """
    # Load the data
    counts = pd.read_csv(
        f'data/utterances_clean{year_lb}-{year_ub}.csv',
        usecols=['case_id', 'win_side']
    ).groupby(
        'case_id'
    ).first().value_counts()
    return int(counts.idxmax()[0]), counts.max() / counts.sum()

In [4]:
def get_all_judge_baselines():
    """
    get the judge baselines for all years

    Input:
        - None
    
    Output:
        - baselines (pd.DataFrame): baselines
            for the different judges across the
            years
    """
    year_bounds = [
        (1956, 1956),
        (1957, 1960),
        (1961, 1961),
        (1993, 1993),
        (1994, 1998),
        (1999, 1999),
        (2013, 2013),
        (2014, 2018),
        (2019, 2019)
    ]

    baselines = pd.DataFrame()
    for year_lb, year_ub in year_bounds:
        yr_baseline = get_judge_baseline(
                year_lb,
                year_ub
            )
        yr_baseline['justice'] = yr_baseline.index
        yr_baseline['justice'] = yr_baseline['justice'].apply(
            lambda name: name.strip('votes_side_')
        )
        yr_baseline['lb_year'], yr_baseline['ub_year'] = year_lb, year_ub
        baselines = pd.concat(
            [baselines, yr_baseline],
            axis=0
        ).reset_index(drop=True)
    baselines = baselines[['lb_year', 'ub_year', 'justice', 'baseline_side', 'baseline']]
    baselines.to_csv(f'eda/judge_baselines.csv', index=False)
    return baselines

get_all_judge_baselines()

C:\Users\Jonas\AppData\Local\Temp\ipykernel_13920\87083862.py:13: DtypeWarning: Columns (60,62) have mixed types. Specify dtype option on import or set low_memory=False.
  ut = pd.read_csv(f'data/utterances_clean{year_lb}-{year_ub}.csv')

,votes_side_j__abe_fortas,votes_side_j__anthony_m_kennedy,votes_side_j__antonin_scalia,votes_side_j__arthur_j_goldberg,votes_side_j__brett_m_kavanaugh,votes_side_j__byron_r_white,votes_side_j__charles_e_whittaker,votes_side_j__clarence_thomas,votes_side_j__david_h_souter,votes_side_j__earl_warren,...,votes_side_j__sherman_minton,votes_side_j__sonia_sotomayor,votes_side_j__stanley_reed,votes_side_j__stephen_g_breyer,votes_side_j__thurgood_marshall,votes_side_j__tom_c_clark,votes_side_j__warren_e_burger,votes_side_j__william_h_rehnquist,votes_side_j__william_j_brennan_jr,votes_side_j__william_o_douglas
-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,1,1
0.0,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,35,...,1.0,NaN,24.0,NaN,NaN,53,NaN,NaN,36,35
1.0,NaN,NaN,NaN,NaN,NaN,NaN,21.0,NaN,NaN,76,...,NaN,NaN,17.0,NaN,NaN,56,NaN,NaN,73,78

C:\Users\Jonas\AppData\Local\Temp\ipykernel_13920\87083862.py:13: DtypeWarning: Columns (60,62) have mixed types. Specify dtype option on import or set low_memory=False.
  ut = pd.read_csv(f'data/utterances_clean{year_lb}-{year_ub}.csv')

,votes_side_j__abe_fortas,votes_side_j__anthony_m_kennedy,votes_side_j__antonin_scalia,votes_side_j__arthur_j_goldberg,votes_side_j__brett_m_kavanaugh,votes_side_j__byron_r_white,votes_side_j__charles_e_whittaker,votes_side_j__clarence_thomas,votes_side_j__david_h_souter,votes_side_j__earl_warren,...,votes_side_j__sherman_minton,votes_side_j__sonia_sotomayor,votes_side_j__stanley_reed,votes_side_j__stephen_g_breyer,votes_side_j__thurgood_marshall,votes_side_j__tom_c_clark,votes_side_j__warren_e_burger,votes_side_j__william_h_rehnquist,votes_side_j__william_j_brennan_jr,votes_side_j__william_o_douglas
-1.0,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,NaN,8,...,NaN,NaN,NaN,NaN,NaN,8,NaN,NaN,8,8
0.0,NaN,NaN,NaN,NaN,NaN,NaN,239,NaN,NaN,151,...,NaN,NaN,NaN,NaN,NaN,236,NaN,NaN,148,143
1.0,NaN,NaN,NaN,NaN,NaN,NaN,233,NaN,NaN,316,...,NaN,NaN,NaN,NaN,NaN,231,NaN,NaN,324,329

C:\Users\Jonas\AppData\Local\Temp\ipykernel_13920\87083862.py:13: DtypeWarning: Columns (60,62,64,66,68) have mixed types. Specify dtype option on import or set low_memory=False.
  ut = pd.read_csv(f'data/utterances_clean{year_lb}-{year_ub}.csv')

,votes_side_j__abe_fortas,votes_side_j__anthony_m_kennedy,votes_side_j__antonin_scalia,votes_side_j__arthur_j_goldberg,votes_side_j__brett_m_kavanaugh,votes_side_j__byron_r_white,votes_side_j__charles_e_whittaker,votes_side_j__clarence_thomas,votes_side_j__david_h_souter,votes_side_j__earl_warren,...,votes_side_j__sherman_minton,votes_side_j__sonia_sotomayor,votes_side_j__stanley_reed,votes_side_j__stephen_g_breyer,votes_side_j__thurgood_marshall,votes_side_j__tom_c_clark,votes_side_j__warren_e_burger,votes_side_j__william_h_rehnquist,votes_side_j__william_j_brennan_jr,votes_side_j__william_o_douglas
0.0,NaN,NaN,NaN,2,NaN,5,18,NaN,NaN,22,...,NaN,NaN,NaN,NaN,NaN,45,NaN,NaN,29,24
1.0,NaN,NaN,NaN,4,NaN,13,16,NaN,NaN,79,...,NaN,NaN,NaN,NaN,NaN,57,NaN,NaN,73,78

C:\Users\Jonas\AppData\Local\Temp\ipykernel_13920\87083862.py:13: DtypeWarning: Columns (17,60,62,64,66,68,70) have mixed types. Specify dtype option on import or set low_memory=False.
  ut = pd.read_csv(f'data/utterances_clean{year_lb}-{year_ub}.csv')

,votes_side_j__abe_fortas,votes_side_j__anthony_m_kennedy,votes_side_j__antonin_scalia,votes_side_j__arthur_j_goldberg,votes_side_j__brett_m_kavanaugh,votes_side_j__byron_r_white,votes_side_j__charles_e_whittaker,votes_side_j__clarence_thomas,votes_side_j__david_h_souter,votes_side_j__earl_warren,...,votes_side_j__sherman_minton,votes_side_j__sonia_sotomayor,votes_side_j__stanley_reed,votes_side_j__stephen_g_breyer,votes_side_j__thurgood_marshall,votes_side_j__tom_c_clark,votes_side_j__warren_e_burger,votes_side_j__william_h_rehnquist,votes_side_j__william_j_brennan_jr,votes_side_j__william_o_douglas
-1.0,NaN,1,1,NaN,NaN,NaN,NaN,1,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
0.0,NaN,34,39,NaN,NaN,NaN,NaN,33,36,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42,NaN,NaN
1.0,NaN,46,41,NaN,NaN,NaN,NaN,47,44,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38,NaN,NaN

C:\Users\Jonas\AppData\Local\Temp\ipykernel_13920\87083862.py:13: DtypeWarning: Columns (58,60,62) have mixed types. Specify dtype option on import or set low_memory=False.
  ut = pd.read_csv(f'data/utterances_clean{year_lb}-{year_ub}.csv')

,votes_side_j__abe_fortas,votes_side_j__anthony_m_kennedy,votes_side_j__antonin_scalia,votes_side_j__arthur_j_goldberg,votes_side_j__brett_m_kavanaugh,votes_side_j__byron_r_white,votes_side_j__charles_e_whittaker,votes_side_j__clarence_thomas,votes_side_j__david_h_souter,votes_side_j__earl_warren,...,votes_side_j__sherman_minton,votes_side_j__sonia_sotomayor,votes_side_j__stanley_reed,votes_side_j__stephen_g_breyer,votes_side_j__thurgood_marshall,votes_side_j__tom_c_clark,votes_side_j__warren_e_burger,votes_side_j__william_h_rehnquist,votes_side_j__william_j_brennan_jr,votes_side_j__william_o_douglas
1.0,NaN,245,233,NaN,NaN,NaN,NaN,221,235,NaN,...,NaN,NaN,NaN,238,NaN,NaN,NaN,230,NaN,NaN
0.0,NaN,162,173,NaN,NaN,NaN,NaN,185,172,NaN,...,NaN,NaN,NaN,164,NaN,NaN,NaN,177,NaN,NaN
-1.0,NaN,2,2,NaN,NaN,NaN,NaN,2,2,NaN,...,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN

C:\Users\Jonas\AppData\Local\Temp\ipykernel_13920\87083862.py:13: DtypeWarning: Columns (58) have mixed types. Specify dtype option on import or set low_memory=False.
  ut = pd.read_csv(f'data/utterances_clean{year_lb}-{year_ub}.csv')

,votes_side_j__abe_fortas,votes_side_j__anthony_m_kennedy,votes_side_j__antonin_scalia,votes_side_j__arthur_j_goldberg,votes_side_j__brett_m_kavanaugh,votes_side_j__byron_r_white,votes_side_j__charles_e_whittaker,votes_side_j__clarence_thomas,votes_side_j__david_h_souter,votes_side_j__earl_warren,...,votes_side_j__sherman_minton,votes_side_j__sonia_sotomayor,votes_side_j__stanley_reed,votes_side_j__stephen_g_breyer,votes_side_j__thurgood_marshall,votes_side_j__tom_c_clark,votes_side_j__warren_e_burger,votes_side_j__william_h_rehnquist,votes_side_j__william_j_brennan_jr,votes_side_j__william_o_douglas
1.0,NaN,41,43,NaN,NaN,NaN,NaN,43,43,NaN,...,NaN,NaN,NaN,45,NaN,NaN,NaN,44,NaN,NaN
0.0,NaN,32,30,NaN,NaN,NaN,NaN,30,29,NaN,...,NaN,NaN,NaN,28,NaN,NaN,NaN,29,NaN,NaN
-1.0,NaN,1,1,NaN,NaN,NaN,NaN,1,1,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,1,NaN,NaN

,votes_side_j__abe_fortas,votes_side_j__anthony_m_kennedy,votes_side_j__antonin_scalia,votes_side_j__arthur_j_goldberg,votes_side_j__brett_m_kavanaugh,votes_side_j__byron_r_white,votes_side_j__charles_e_whittaker,votes_side_j__clarence_thomas,votes_side_j__david_h_souter,votes_side_j__earl_warren,...,votes_side_j__sherman_minton,votes_side_j__sonia_sotomayor,votes_side_j__stanley_reed,votes_side_j__stephen_g_breyer,votes_side_j__thurgood_marshall,votes_side_j__tom_c_clark,votes_side_j__warren_e_burger,votes_side_j__william_h_rehnquist,votes_side_j__william_j_brennan_jr,votes_side_j__william_o_douglas
1.0,NaN,43,43,NaN,NaN,NaN,NaN,41,NaN,NaN,...,NaN,41,NaN,40,NaN,NaN,NaN,NaN,NaN,NaN
0.0,NaN,23,23,NaN,NaN,NaN,NaN,25,NaN,NaN,...,NaN,24,NaN,25,NaN,NaN,NaN,NaN,NaN,NaN

C:\Users\Jonas\AppData\Local\Temp\ipykernel_13920\87083862.py:13: DtypeWarning: Columns (17,60,62) have mixed types. Specify dtype option on import or set low_memory=False.
  ut = pd.read_csv(f'data/utterances_clean{year_lb}-{year_ub}.csv')

,votes_side_j__abe_fortas,votes_side_j__anthony_m_kennedy,votes_side_j__antonin_scalia,votes_side_j__arthur_j_goldberg,votes_side_j__brett_m_kavanaugh,votes_side_j__byron_r_white,votes_side_j__charles_e_whittaker,votes_side_j__clarence_thomas,votes_side_j__david_h_souter,votes_side_j__earl_warren,...,votes_side_j__sherman_minton,votes_side_j__sonia_sotomayor,votes_side_j__stanley_reed,votes_side_j__stephen_g_breyer,votes_side_j__thurgood_marshall,votes_side_j__tom_c_clark,votes_side_j__warren_e_burger,votes_side_j__william_h_rehnquist,votes_side_j__william_j_brennan_jr,votes_side_j__william_o_douglas
-1.0,NaN,6,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN,...,NaN,6,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN
0.0,NaN,82,23.0,NaN,21.0,NaN,NaN,143,NaN,NaN,...,NaN,120,NaN,119,NaN,NaN,NaN,NaN,NaN,NaN
1.0,NaN,158,43.0,NaN,40.0,NaN,NaN,166,NaN,NaN,...,NaN,187,NaN,190,NaN,NaN,NaN,NaN,NaN,NaN

C:\Users\Jonas\AppData\Local\Temp\ipykernel_13920\87083862.py:13: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  ut = pd.read_csv(f'data/utterances_clean{year_lb}-{year_ub}.csv')

,votes_side_j__abe_fortas,votes_side_j__anthony_m_kennedy,votes_side_j__antonin_scalia,votes_side_j__arthur_j_goldberg,votes_side_j__brett_m_kavanaugh,votes_side_j__byron_r_white,votes_side_j__charles_e_whittaker,votes_side_j__clarence_thomas,votes_side_j__david_h_souter,votes_side_j__earl_warren,...,votes_side_j__sherman_minton,votes_side_j__sonia_sotomayor,votes_side_j__stanley_reed,votes_side_j__stephen_g_breyer,votes_side_j__thurgood_marshall,votes_side_j__tom_c_clark,votes_side_j__warren_e_burger,votes_side_j__william_h_rehnquist,votes_side_j__william_j_brennan_jr,votes_side_j__william_o_douglas
1.0,NaN,NaN,NaN,NaN,32,NaN,NaN,28,NaN,NaN,...,NaN,28,NaN,38,NaN,NaN,NaN,NaN,NaN,NaN
0.0,NaN,NaN,NaN,NaN,22,NaN,NaN,27,NaN,NaN,...,NaN,26,NaN,17,NaN,NaN,NaN,NaN,NaN,NaN
-1.0,NaN,NaN,NaN,NaN,2,NaN,NaN,2,NaN,NaN,...,NaN,2,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN

    lb_year  ub_year                 justice  baseline_side  baseline
0      1956     1956  j__charles_e_whittaker            1.0  0.538462
1      1956     1956          j__earl_warren            1.0  0.678571
2      1956     1956    j__felix_frankfurter            1.0  0.530435
3      1956     1956        j__harold_burton            0.0  0.526316
4      1956     1956         j__hugo_l_black            1.0  0.672897
..      ...      ...                     ...            ...       ...
83     2019     2019         j__neil_gorsuch            1.0  0.543860
84     2019     2019  j__ruth_bader_ginsburg            1.0  0.631579
85     2019     2019    j__samuel_a_alito_jr            1.0  0.508772
86     2019     2019      j__sonia_sotomayor            1.0  0.500000
87     2019     2019     j__stephen_g_breyer            1.0  0.666667

[88 rows x 5 columns]

In [5]:
def get_all_year_baselines():
    """
    get the judge baselines for all years

    Input:
        - None
    
    Output:
        - baselines (pd.DataFrame): baselines
            for the different judges across the
            years
    """
    year_bounds = [
        (1956, 1956),
        (1957, 1960),
        (1961, 1961),
        (1993, 1993),
        (1994, 1998),
        (1999, 1999),
        (2013, 2013),
        (2014, 2018),
        (2019, 2019)
    ]

    baselines = pd.DataFrame()
    for year_lb, year_ub in year_bounds:
        baseline_side, baseline = get_year_baseline(
            year_lb,
            year_ub
        )
        yr_baseline = pd.DataFrame(
                {
                    'lb_year': [year_lb],
                    'ub_year': [year_ub],
                    'baseline_side': [baseline_side],
                    'baseline': [baseline]
                }
            )
        baselines = pd.concat(
            [baselines, yr_baseline],
            axis=0
        ).reset_index(drop=True)
    baselines.to_csv(f'eda/year_baselines.csv', index=False)
    return baselines

get_all_year_baselines()

   lb_year  ub_year  baseline_side  baseline
0     1956     1956              1  0.626087
1     1957     1960              1  0.582988
2     1961     1961              1  0.705882
3     1993     1993              1  0.506173
4     1994     1998              1  0.601467
5     1999     1999              1  0.594595
6     2013     2013              1  0.681818
7     2014     2018              1  0.641270
8     2019     2019              1  0.596491